/*Parte do design total*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #715e85;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Carrosel*/

.carrossel{
    overflow: hidden;
    height: 500px;
    width: 435px;
    display: flex;
    align-items: center;
}

.container{
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}

/*Relógio Digital*/

.relogio-digital{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.display{
    margin: 10px 50px 0 50px;
    background-color: #532b80;
    width: 350px;
    height: 350px;
    text-align: center;
    line-height: 350px;
    border-radius: 350px;
    color: #cfa3ff;
    font-size: 5rem;
    font-family: "Titillium Web", sans-serif;
    border: 5px solid #60BA8C;
}

footer{
    font-size: 1.3rem;
    margin: 2rem auto 0 auto;
    color: #1d1a82;
    font-family: "Domine", serif;
    text-align: center;
}


/*Relógio Analógico*/

.relogios h1{
    margin: 30px auto;
    font-family: "Domine", serif;
    font-size: 1.3rem;
    color: #1d1a82;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1:nth-child(2){
    margin: 30px auto 30px 50px;
}

.analogico{
    margin: 0 15px 50px 75px;
    width: 350px;
    height: 350px;
    border-radius: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/clock.png), #532b80;
    background-size: cover;
    border: 4px solid #60BA8C;
    border-radius: 50%;
    box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
                inset 0 -15px 15px rgba(255, 255, 255, 0.05), 
                0 15px 15px rgba(255, 255, 255, 0.3),
                inset 0 15px 15px rgba(255, 255, 255, 0.3);
}

.analogico::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #60BA8C;
    border-radius: 50%;
    z-index: 10000;
}

.analogico .horas, .analogico .minutos, .analogico .segundos{
    position: absolute;
}

.analogico .horas, .hr{
    width: 160px;
    height: 160px;
}

.analogico .minutos, .mn{
    width: 190px;
    height: 190px;
}

.analogico .segundos, .sg{
    width: 230px;
    height: 230px;
}

.hr, .mn, .sg{
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
}

.hr::before{
    content: '';
    position: absolute;
    width: 8px;
    height: 80px;
    background: #cf3485;
    z-index: 10;
    border-radius: 6px 6px 0 0;
}

.mn::before{
    content: '';
    position: absolute;
    width: 4px;
    height: 90px;
    background: #60BA8C;
    z-index: 11;
    border-radius: 6px 6px 0 0;
}

.sg::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 150px;
    background: #dbf227;
    z-index: 12;
    border-radius: 6px 6px 0 0;
}