*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body{
    background-color: #966E0B;
}

header.inicio{
    justify-content: space-around;    
}

.calculadora{
    width: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 10px;
    background-color: #002B96;
}

table td{
    display: inline-block;
}

.btn{
    margin: 3px;
    width: 50px;
    height: 40px;
    cursor: pointer;
    border: none;
    background-color: #557EE6;
    color: #CCCCCC;
    font-size: 1rem;
    transition: all 200ms ease-in-out;
}

.btn:hover{
    background-color: #8AA3E6;
}

.ac{
    background-color: #8C6900;
}

.ac:hover{
    background-color: #CC8F00;
}

.operador{
    background-color: #B58500;
}

.operador:hover{
    background-color: #9d7918;
}

.igual{
    background-color: #a6811a;
}

.igual:hover{
    background-color: #c69920;
}

.result{
    height: 100px;
    color: #CCCCCC;
    text-align: right;
    font-size: 2rem;
    word-wrap: break-word;
    border-bottom: 1px solid #966E0B;
}